
.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color:black;
    background-color: rgb(65, 141, 255);
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */        // isme filed fill green nhi to red show hogi
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  .form-control[_ngcontent-c1] {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 2rem;
    line-height: 1.25;
    color: black;
    background-color: rgb(65, 141, 255);
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}